$white:                 #fff;
$bg-color:              #E5E5E5;
$gray-1:                #35455C;
$light-100:             #FFFFFF;
$linear:                #3F8CFF;
$xam-nhat:              #979797;
$xam-dam:               #606060;
$dark-200:              #8E90A6;
$dark-500:              #000000;
$support:               #3F8CFF;
