$white:                 #fff;
$black:                 #000;
$bg-color:              #E5E5E5;
$gray-1:                #35455C;
$gray-2:                #4F4F4F;
$light-100:             #FFFFFF;
$linear:                #3F8CFF;
$xam-nhat:              #979797;
$xam-dam:               #606060;
$dark-200:              #8E90A6;
$dark-500:              #000000;
$support:               #3F8CFF;
$support-1:             #F0F0F3;
$light-bg:              #FAFAFC;
