@import "../../assets/scss/variables";

.button {
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size:1.6rem;
  display: inline-flex;
  align-items:center;
  justify-content: center;


  &.small {
    padding: 8px 16px;
    line-height: 1.6rem;
  }

  &.medium {
    padding: 12px 20px;
    line-height: 2.4rem;
  }

  &.primary {
    background-color: $linear;
    color: $white;
  }

  &.default {
    background-color: $white;
    color: $linear;
  }
}
