@import "../../assets/scss/variables";

.table {
  th,
  td {
    min-width: 20.1rem !important;

    &:first-child {
      padding-left: 68px;
    }
    &:last-child {
      padding-right: 55px;
    }
  }

  .headFilter {
    th {
      div {
        width: 80%;
        padding-bottom: 3px;

        input {
          padding-right: 0;
        }
      }
    }
  }

  .row {
    height: 8.8rem;
    margin-bottom: 2px;

    .columnValue {
      color: $gray-1;
      font-size: 1.3rem;
      font-weight: 500;

      &.id,
      &.proposalCode {
        color: $linear;
        font-weight: 700;
      }

      &.id {
        text-decoration: underline;
      }

      &.proposalCode {
        line-height: 1.8rem;
      }

      &.expiredAt {
        color: #1c1d21;
      }
    }

    .columnLabel {
      color: $xam-nhat;
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 5px;

      &.proposalCode,
      &.expiredAt {
        color: #8181a5;
      }
    }

    .buttonGroup {
      display: flex;
      gap: 6px;
      align-items: center;

      .button {
        width: 14.5rem;
        height: 3.8rem;
        padding-left: 0;
        padding-right: 0;

        .iconBtn {
          margin-right: 8px;
        }
      }
    }
  }
}
