@import "../../assets/scss/variables";

.container {
  padding: 24px 29px;

  .title {
    color: $gray-1;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.7rem;
  }

  .tableSection,
  .formSection {
    background-color: #fff;
    border-radius: 7px;
  }

  .searchSection {
    margin-top: 27px;
  }

  .tableSection {
    $padding: 32px;
    $margin: 32px;

    margin-top: 20px;
    padding: $padding 0;

    .addBtn {
      margin-left: auto;
      display: block;
      margin-right: $margin;
    }

    .pagination {
      padding: 0 $padding;
    }

    .table {
      margin-top: 30px;
    }
  }

  .formSection {
    margin-top: 28px;
    padding: 27px;
    box-shadow: 0px 0px 10px #eeeeee;
  }
}
